altair==4.1.0
appdirs==1.4.4
attrs==19.3.0
autopep8==1.5.3
beautifulsoup4==4.9.1
black==19.10b0
bleach==3.1.5
bs4==0.0.1
bump2version==1.0.0
bumpversion==0.6.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
docutils==0.16
entrypoints==0.3
hypothesis==6.1.1
idna==2.10
iniconfig==1.1.1
jeepney==0.4.3
Jinja2==2.11.2
jsonschema==3.2.0
keyring==21.2.1
MarkupSafe==1.1.1
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pathspec==0.8.0
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
regex==2020.6.8
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.0.1
toml==0.10.1
toolz==0.10.0
tqdm==4.46.1
twine==3.2.0
typed-ast==1.4.1
urllib3==1.25.9
webencodings==0.5.1
